<div class="card h-100">
  <div class="photos">
    <div [class.show]="isLoadingImages">
      <img src="assets/loader.svg" class="loader" alt="Loader">
    </div>
    <div [class.show]="!isLoadingImages" #imagesContent>
      <img *ngFor="let photo of photos" [src]="photo.thumbnailUrl" class="gallery-image" (load)="imageLoaded()">
    </div>
  </div>
  <div class="card-body bg-light">
    <p class="card-text">{{ album.title }}</p>
    <a href="#" class="btn btn-outline-secondary btn-sm">
      <i class="fa fa-eye"></i>
    </a>
  </div>
</div>
